:root {
  --neutrals-white: #fafafa;
  --neutrals-tintedWhite: #F0F0F0;
  --neutrals-gray: #474B4E;
  --accent-neutral: #93B1A6;
  --accent-light: #96E1E6;
  --accent-dark: #183D3D;
  --font: #040D12;
  --brand-color: #be8f6e;
  --brand-color-overlay: #e7d7c9;
  --brand-color-white: #ede9e3;
  --brand-cool-sage: #87816e;
  --brand-warm-black: #241f19;
  --green-tint: rgb(226, 237, 233);
  --green-tint-2: rgb(182, 214, 202);
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--neutrals-tintedWhite);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.columnCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


/*------ navigation bar ------*/
.navBarContainer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  width: 1366px;
  height: 80px;
  background: rgba(240, 240, 240, 0.3);
  padding: 22px 92px;
  box-sizing: border-box;
}

.logo {
  color: rgba(71, 75, 78, 0.54);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.2px;
  user-select: none;
}

.menuContainer {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  background: rgba(226, 237, 233, 0.7);
  /*box-shadow: 2px 2px 5px 0px rgba(221, 221, 221, 0.90),
              -2px -2px 4px 0px rgba(255, 255, 255, 0.90),
              2px -2px 4px 0px rgba(221, 221, 221, 0.20),
              -2px 2px 4px 0px rgba(221, 221, 221, 0.20),
              -1px -1px 2px 0px rgba(221, 221, 221, 0.50) inset,
              1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;*/
}

.navMenu {
  color: var(--font);
  z-index: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
  transition: all 0.5s ease;
}

.accentBar {
  position: absolute;
  left: 0;
  width: 86px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--accent-neutral);
  user-select: none;
  transition: all 0.5s ease;
}

.navMenuActive
{
  color: var(--neutrals-tintedWhite);
}

/* menu on active */
.menuContainer #home.navMenuActive~.accentBar {
  left: 0px;
  width: 86px;
}

.menuContainer #about.navMenuActive~.accentBar {
  left: 86px;
  width: 92px;
}

.menuContainer #portfolio.navMenuActive~.accentBar {
  left: 172px;
  width: 114px;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .navBarContainer {
    width: 1024px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navBarContainer {
    width: 768px;
  }
  .menuContainer {
    
    transform: scale(0.9);
  }
  .logo {
    font-size: 16px;
  }
}


@media (min-width: 393px) and (max-width: 575px) {
  .navBarContainer {
    width: 575px;
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .menuContainer {
    transform: scale(0.7);
  }
}

/*----- end of navigation bar ------*/




/*----- HERO SECTION ------*/
.heroContainer {
  width: 1366px;
  height: 768px;
  position: relative;
  top: 30px;
  animation: fadeOnLoad 2s ease-in-out;
}

/* laptop image */
.macbook {
  display: flex;
  position: absolute;
  opacity: 1;
  top: -80px;
  left: 200px;
}

.macbookActive {
  animation: macbookRightLeft 4s ease-in-out;
}

.macImg {
  position: relative;
}

/* code and design images container */
.imageFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 172px;
  top: 265px;
  width: 557px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.flexImg {
  position: absolute;
  flex: 1;
}

#code {
  left: 250px;
}

.codeActive {
  animation: code 4s ease-in-out;
}

#design {
  left: -300px;
}

.designActive {
  animation: design 4s ease-in-out;
}

/* figma and nextjs text and icon */
.figma,
.nextjs {
  position: absolute;
  left: 500px;
  display: flex;
  z-index: -1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.figma {
  top: 240px;
}

.figmaActive {
  animation: figmaAnim 4s ease-in-out;
}

.nextjs {
  top: 400px;
}

.nextjsActive {
  animation: nextAnim 4s ease-in-out;
}

#figmaImg {
  align-self: flex-end;
}

.figma p,
.nextjs p {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
}

.heroSlogan {
  position: absolute;
  top: 130px;
  left: 120px;
  z-index: -1;
  align-self: center;
  color: var(--neutrals-gray);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

div span {
  color: var(--accent-dark, #183D3D);
}

.heroSloganActive {
  animation: hideLeft 4s ease-in-out;
}

/* on load animation */
@keyframes fadeOnLoad {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* laptop image animation right to left */
@keyframes macbookRightLeft {
  0% {left: 200px;}
  30% {left: 500px;}
  50% {left: 200px;}
  70% {left: -80px;}
  100% {left: 200px;}
}

/* figma display text animation to left */
@keyframes figmaAnim {
  0% {left: 500px; visibility: hidden;}
  30% {left: 200px; visibility: visible;}
  50% {left: 500px; visibility: hidden;}
  70% {left: 120px;}
  100% {left: 500px;}
}

/* nextjs animation display to right */
@keyframes nextAnim {
  0% {left: 500px;}
  30% {left: 800px;}
  50% {left: 500px;}
  70% {left: 750px;}
  100% {left: 500px;}
}

/* design image shrink and grow animation */
@keyframes design {
  0% {left: -300px;}
  30% {left: -200px;}
  50% {left: -300px}
  70% {left: -500px;}
  100% {left: -300px;}
}

/* code image shrink and grow animation */
@keyframes code {
  0% {left: 250px;}
  30% {left: 400px}
  50% {left: 250px;}
  70% {left: 100px;}
  100% {left: 250px;}
}

/* hero slogan on scroll */
@keyframes hideLeft {
  0% {left: 120px;}
  30% {left: -500px; visibility: hidden;}
  50% {left: -500px; visibility: hidden;}
  70% {left: -500px; visibility: hidden;}
  100% {left: 120px; visibility: visible;}
}

/*----- END OF HERO SECTION ------*/




/*----- WEB DESIGNER SECTION ------*/
.parallaxEffect {
  margin: 0 auto;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.webDesignerContainer {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

#bgBackground {
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(-15px) scale(2.6);
  object-fit: cover;
}

.foregroundElements {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 500px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: -150px;
  transform: translateZ(-10px) scale(2);
}

.foregroundElementsLeftTop {
  left: 0;
  width: 550px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 12px 40px;
}

.mainService {
  position: initial;
  left: initial;
  top: initial;
  z-index: initial;
  color: var(--accent-neutral);
}

#mainServ {
  color: var(--accent-light);
}

.topElement {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
}

#topElementToWhite {
  color: var(--neutrals-tintedWhite);
}

.subServices {
  line-height: 28px;
  font-size: 20px;
}

.bannerContainer {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1366px;
  height: 400px;
  background: var(--neutrals-tintedWhite);
  position: absolute;
  bottom: -768px;
  overflow: hidden;
}

.imgBanner {
  height: auto;
  width: 100%;
  left: 0;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .foregroundElements {
    
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .foregroundElements {
    transform: scale(0.8);
  }
}


@media (min-width: 393px) and (max-width: 575px) {
  .foregroundElements {
    transform: scale(0.7);
  }
}
/*----- END OF WEB DESIGNER SECTION ------*/





/*----- HORIZONTAL BANNER SECTION ------*/
.sectionSeparator {
  display: grid;
  width: 1366px;
  height: 150px;
  padding: 24px;
  margin-right: 92px;
  background: var(--neutrals-tintedWhite);
}

.sepGrid {
  max-width: 380px;
  height: 250px;
  border-radius: 16px;
  background: var(--neutrals-white);
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .sectionSeparator {
    height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sectionSeparator {
    height: 80px;
  }
}


@media (min-width: 393px) and (max-width: 575px) {
  .sectionSeparator {
    height: 40px;
  }
}
/*----- END OF HORIZONTAL BANNER SECTION ------*/








/*----- ABOUT SECTION ------*/
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: auto;
  margin-top: 100px;
  animation: fadeOnLoad 0.5s ease-in-out;
}

.aboutHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  box-sizing: border-box;
  width: 1182px;
  height: 254px;
  border-radius: 16px;
  overflow: hidden;
}

.aboutSections {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gradientGlow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 500px;
  height: 1200px;
  width: 1200px;
  z-index: -1;
  position: absolute;
  left: -50px;
  background: linear-gradient(to right, var(--green-tint-2), var(--green-tint));
  animation: gradientFlow 4s linear infinite;
}

@keyframes gradientFlow {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.jobTitle {
  color: rgba(71, 75, 78, 0.54);
  font-size: 52px;
  letter-spacing: 8px;
  font-weight: 600;
  line-height: 0;
}

.specialization {
  color: rgba(71, 75, 78, 0.54);
  font-size: 24px;
  font-weight: 500;
}

.aboutHeading {
  align-self: flex-start;
  color: #0D1814;;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutCopy {
  width: auto;
  height: auto;
  padding: 54px 48px;
  border-radius: 8px;
  background: var(--neutrals-white, #FAFAFA);
  color: var(--font, #040D12);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 300px;
  transition: all 0.5s ease;
}

.aboutCopy:hover {
  transform: scale(1.01);
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 506px;
  border-radius: 8px;
  padding: 54px 16px;
  box-sizing: border-box;
  background: var(--neutrals-white, #FAFAFA);
}

.skLang {
  color: #3D4643;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ssContainer {
  padding: 28px;
  width: 350px;
  height: 286px;
  border-radius: 4px;
  background: rgba(226, 237, 233, 0.34);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutHeader {
    width: 900px;
  }
  .aboutSections {
    width: 800px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutHeader {
    height: 150px;
    width: 700px;
  }
  .aboutSections {
    width: 560px;
  }
  .jobTitle {
    font-size: 32px;
    letter-spacing: 6px;
  }
  .aboutHeading {
    font-size: 28px;
  }
  .aboutCopy {
    font-size: 20px;
  }
}
  
  
@media (min-width: 393px) and (max-width: 575px) {
  .aboutHeader {
    height: 150px;
    width: 500px;
  }
  .aboutSections {
    width: 420px;
  }
  .jobTitle {
    font-size: 32px;
    letter-spacing: 6px;
  }
  .aboutHeading {
    font-size: 28px;
  }
  .aboutCopy {
    font-size: 20px;
  }
}

/*----- SOCIALS SECTION ------*/
.socialsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1366px;
  height: 720px;
  box-sizing: border-box;
  user-select: none;

}

.imageRight {
  position: absolute;
  display: block;
  right: -100px;
  width: auto;
  height: auto;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.socialAccounts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  z-index: 0;
  position: absolute;
  left: -380px;
  width: 1000px;
  height: 100%;
  padding: 92px;
  box-sizing: border-box;
  background: var(--brand-cool-sage);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: left 0.8s ease-in-out;
}

.socialAccounts:hover {
  left: -200px;
}

.socialAccounts:hover~.imageRight {
  right: -160px;
  opacity: 0.7;
}

.socialAccounts:hover~.linkTitle {
  color: var(--accent-dark);
}

.socialHeading {
  position: relative;
  text-align: right;
  right: 0;
  color: var(--green-tint);
  font-size: 92px;
  letter-spacing: 20px;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .socialAccounts {
    left: -450px;
  }
  
  .socialAccounts:hover {
    left: -300px;
  }

  .socialHeading {
    font-size: 72px;
  }

  .imageRight {
    right: 0;
  }
}
/*----- END OF SOCIALS SECTION ------*/



/*----- SOCIAL LINKS SECTION ------*/
.socialLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 1366px;
  height: 150px;
  background: var(--green-tint);
}

.linkedIn,
.indeed,
.onlinejobsph {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.linkTitle {
  color: rgba(71, 75, 78, 0.54);
  font-size: 28px;
  font-weight: 700;
  transition: all 0.5s ease;
  user-select: none;
  cursor: pointer;
}

.linkTitle:hover {
  color: var(--accent-dark);
}

.imgIco {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 576px) and (max-width: 767px) {
  .socialLinksContainer {
    height: 100px;
  }

  .linkedIn,
  .indeed,
  .onlinejobsph {
    transform: scale(0.9);
  }
}


@media (min-width: 393px) and (max-width: 575px) {
  .socialLinksContainer {
    height: 70px;
  }

  .linkedIn,
  .indeed,
  .onlinejobsph {
    transform: scale(0.6);
  }
}
/*----- END OF SOCIAL LINKS SECTION ------*/



/*----- MAIN HERO SECTION ------*/
.heroMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1366px;
  height: 768px;
  position: relative;
  overflow: hidden;
}

.bgMain {
  position: absolute;
  right: 0;
  z-index: -1;
}
.fgMain {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.txtMain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  color: var(--neutrals-gray);
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.txtMain span {
  color: var(--accent-neutral);
  font-size: 100px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 6px;
  opacity: 0.7;
}

.warn {
  position: absolute;
  left: 100px;
  bottom: 50px;
  opacity: 0.5;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 576px) and (max-width: 767px) {
 .txtMain {
  transform: scale(0.9);
 }
 .fgMain {
  transform: scale(0.9);
  bottom: -20px;
 }
}


@media (min-width: 393px) and (max-width: 575px) {
  .heroMain {
    width: 100vw;
    height: 100vh;
  }
  
  .txtMain {
    transform: scale(0.7);
   }
   .fgMain {
    transform: scale(0.8);
    bottom: -40px;
    right: -40px;
   }
}
/*----- END OF MAIN HERO SECTION ------*/

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 576px) and (max-width: 767px) {
}


@media (min-width: 393px) and (max-width: 575px) {
}